*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background:rgb(28, 27, 27);
}



.page-header {
    padding-bottom: 8.5px;
    margin: 38px 0 19px;
    border-bottom: 1px solid #eee
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.nav:after,.nav:before {
    content: " ";
    display: table
}

.nav:after {
    clear: both
}

.nav>li,.nav>li>a {
    position: relative;
    display: block
}

.nav>li>a {
    padding: 10px 15px
}


@media(min-width: 768px) {
    .navbar-collapse {
        width:auto;
        border-top: 0;
        box-shadow: none
    }

    .navbar-collapse.collapse {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important
    }

    .navbar-collapse.in {
        overflow-y: visible
    }

    .navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse,.navbar-static-top .navbar-collapse {
        padding-left: 0;
        padding-right: 0
    }
}

.navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse {
    max-height: 340px
}




@media(min-width: 768px) {
    .navbar-static-top {
        border-radius:0
    }
}

.navbar-fixed-bottom,.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030
}


@media(min-width: 768px) {
    .navbar>.container-fluid .navbar-brand,.navbar>.container .navbar-brand {
        margin-left:-15px
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: -7px;
    margin-bottom: -7px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0
}

.navbar-toggle:focus {
    outline: 0
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px
}


@media(min-width: 768px) {
    .navbar-nav {
        float:left;
        margin: 0
    }

    .navbar-nav>li {
        float: left
    }

    .navbar-nav>li>a {
        padding-top: .5px;
        padding-bottom: .5px
    }
}

.navbar-form {
    margin: -10px -15px;
    padding: 10px 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 hsla(0,0%,100%,.1),0 1px 0 hsla(0,0%,100%,.1);
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.1),0 1px 0 hsla(0,0%,100%,.1)
}


.navbar-inverse .navbar-nav>li>a,.navbar-inverse .navbar-text {
    color: #100b0b
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>li>a:hover {
    color: #888;
    background-color: transparent
}

.navbar {
    border: none;
    min-height: inherit
}

@media(min-width: 768px) {
    .navbar {
        margin:10px
    }
}

.navbar-default .navbar-collapse,.navbar-inverse .navbar-collapse {
    margin: 10px -5px;
    box-shadow: none
}

.navbar-default .navbar-collapse .navbar-nav,.navbar-inverse .navbar-collapse .navbar-nav {
    padding: 20px
}

@media(min-width: 768px) {
    .navbar-default .navbar-collapse,.navbar-inverse .navbar-collapse {
        margin:0;
        padding: 30px 0
    }

    .navbar-default .navbar-collapse .navbar-nav,.navbar-inverse .navbar-collapse .navbar-nav {
        padding: 0
    }
}

.nav>li>a {
    font-size: 14px;
    font-weight: 300;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear
}

.nav>li>a.active,.nav>li>a:hover {
    font-weight: 700
}

.nav.navbar-small>li>a {
    font-size: 11px
}

nav {
    display: block;
}
.navbar-nav{
    font-weight: 300;
    letter-spacing: .8px;
    line-height: 25px;
    font-family: Roboto Mono,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #000;
}







.grow{
    animation:glow 2.5s infinite alternate;
    color:#f5f5f5;
    opacity: 1!important;
}
.grow{
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    margin-top: 100px;
    font-size: 30px;
    font-family:Comfortaa;
    /* border-bottom: solid white; */
}
.timeline{
    position: relative;
    max-width: 1200px;
    margin:100px auto;
}
.container{
    padding:10px 50px;
    position:relative;
    width:50%;
    animation: movedown 1s linear forwards;
    opacity:0;
}
@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }   
    100%{
        opacity: 1;
        transform: translateY(0px);
    }    
}
.container:nth-child(1){
    animation-delay: 0s;
}
.container:nth-child(2){
    animation-delay: 1s;
}
.container:nth-child(3){
    animation-delay: 2s;
}
.container:nth-child(4){
    animation-delay: 3s;
}
.container:nth-child(5){
    animation-delay: 4s;
}
.container:nth-child(6){
    animation-delay: 5s;
}
.text-box{
    padding:20px 30px;
    background:#fff;
    position:relative;
    border-radius:6px;
    font-size: 15px;
}
.left-container{
    left:0;
}
.right-container{
    left:50%;
}
.container img{
    position:absolute;
    width:40px;
    border-radius:50%;
    right:-20px;
    top:32px;
    z-index:10;
}
.right-container img{
    left:-20px
}
.timeline::after{
    content:'';
    position:absolute;
    width:6px;
    height:100%;
    background:#fff;
    top:0;
    left:50%;
    margin-left:-3px;
    z-index:-1;
    animation: moveline 6s linear forwards;
}
@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height:100%;
    }    
}
.text-box h2{
    font-weight:600;
}
.text-box small{
    display: inline-block;
    margin-bottom: 15px;
}
.left-container-arrow{
    height:0;
    width:0;
    position:absolute;
    top:28px;
    z-index:1;
    border-top:15px solid transparent;
    border-bottom:15px solid transparent;
    border-left: 15px solid white;
    right:-15px;
}
.right-container-arrow{
    height:0;
    width:0;
    position:absolute;
    top:28px;
    z-index:1;
    border-top:15px solid transparent;
    border-bottom:15px solid transparent;
    border-right: 15px solid white;
    left:-15px;
}

@media screen and (max-width:600px){
    .timeline{
        margin:50px auto;
    }
    .timeline::after{
        left:31px;
    }
    .container{
        width:100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size:13px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right-container{
        left:0;
    }
    .left-container img, .right-container img{
        left:10px;
    }
    .left-container-arrow,.right-container-arrow{
        border-right:15px solid white;
        border-left: 0;
        left:-15px;
    }
}
